/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html { background: #0d83d8; }
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

/* General wrapper for each container component's contents */
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
}

/* General button styling */
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Login and Register Header Component Styling */
 #login-register-header {
   z-index: 2;
   position: fixed;
   width: 100%;
   height: 100px;
   line-height: 60px;
   background: #222;
   color: #0d83d8;
 }
 #login-register-header img {
   position: absolute;
   left: 0;
   width: 14%;
   height: 90px;
   margin-top: 5px;
   border-radius: 10px;
 }
 #login-register-header img:hover {
   opacity: 0.7;
 }
 #login-register-buttons {
   float: right;
   width: 25%;
   margin-top: 10px;
 }
 .login-register-button {
   margin-left: 3%;
 }


 /*---------------------------------------------------------------------------------------------------------------*/
 /* Login and Register Content Component Styling */
 #login-register-content {
   position: relative;
   width: 100%;
   padding-top: 120px;
 }



 /*---------------------------------------------------------------------------------------------------------------*/
 /*---------------------------------------------------------------------------------------------------------------*/
 /* Main Header Component Styling */
  #main-header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 60px;
    background: #222;
    color: #0d83d8;
  }
  #main-header img {
    position: absolute;
    left: 0;
    width: 14%;
    height: 90px;
    margin-top: 5px;
    border-radius: 10px;
  }
  #main-header img:hover {
    opacity: 0.7;
  }
  #main-header p, #main-header a, #main-header form {
    display: inline-block;
  }
  #main-header p {
    margin-left: 600px;
  }
  #main-header a, #main-header form {
    margin-left: 20px;
  }

  /*---------------------------------------------------------------------------------------------------------------*/
  /* Main Content Component Styling */
  #main-content {
    position: relative;
    width: 100%;
    padding-top: 120px;
  }



/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Boards Index Styling */
.board-in-index-view {
  background-color: #666;
  color: white;
  width: 30%;
  height: 250px;
  display: inline-block;
  margin: 1%;
}
.board-in-index-view p {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 0 10px;
}


/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Devise Styling */
.devise {
  text-align: center;
  font-size: 1.5em;
  margin-top: 100px;
}
