/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



html { background: #0d83d8; }
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

/* General wrapper for each container component's contents */
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1300px;
}

/* General button styling */
.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Login and Register Header Component Styling */
 #login-register-header {
   z-index: 2;
   position: fixed;
   width: 100%;
   height: 100px;
   line-height: 60px;
   background: #222;
   color: #0d83d8;
 }
 #login-register-header img {
   position: absolute;
   left: 0;
   width: 14%;
   height: 90px;
   margin-top: 5px;
   border-radius: 10px;
 }
 #login-register-header img:hover {
   opacity: 0.7;
 }
 #login-register-header-buttons {
   float: right;
   width: 25%;
   margin-top: 10px;
 }
 .login-register-button {
   margin-left: 3%;
 }


 /*---------------------------------------------------------------------------------------------------------------*/
 /* Login and Register Content Component Styling */
 #login-register-content {
   position: relative;
   width: 100%;
   padding-top: 120px;
 }



 /*---------------------------------------------------------------------------------------------------------------*/
 /*---------------------------------------------------------------------------------------------------------------*/
 /* Main Header Component Styling */
  #main-header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 60px;
    background: #222;
    color: #0d83d8;
  }
  #main-header img {
    position: absolute;
    left: 0;
    width: 98%;
    height: 90px;
    border-radius: 10px;
  }
  #main-header img:hover {
    opacity: 0.7;
  }
  #main-header p, #main-header a, #main-header form {
    display: inline-block;
  }
  #main-header p {
    margin-left: 600px;
  }
  #main-header-buttons {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    margin-top: 10px;
  }
  .main-header-button {
    margin-left: 10%;
    padding: 5px 10px;
  }
  #main-header form input {
    padding: 15px 10px;
    cursor: pointer;
  }
  #logo {
    position: absolute;
    left: 0;
    width: 14%;
    height: 90px;
    margin-top: 5px;
  }

  /*---------------------------------------------------------------------------------------------------------------*/
  /* Main Content Component Styling */
  #main-content {
    position: relative;
    width: 100%;
    padding-top: 90px;
  }



/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Boards Index Styling */
#boards {
  position: relative;
  width: 100%;
  padding-top: 20px;
}
.board-in-index-view {
  background-color: #666;
  color: white;
  width: 25%;
  height: 150px;
  display: inline-block;
  margin: 1%;
  border-radius: 10px;
}
.board-in-index-view p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0 0 10px;
}
.board-in-index-view a:link, .board-in-index-view a:visited, .board-in-index-view a:hover, .board-in-index-view a:active {
  color: white;
  text-decoration: none;
}
.board-in-index-view:hover {
  opacity: 0.9;
}



/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Board Show Styling */
.board {
  position: relative;
  width: 100%;
}
.board-sub-header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: navy;
  margin-top: 20px;
}
.board-sub-header h1 {
  display: inline-block;
  font-size: 1.5em;
  color: white;
  width: 20%;
  padding-left: 5px;
  margin-top: 10px;
}





/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* List Styling */
.lists {
  margin-top: 0px;
}
.list {
  vertical-align: top;
  background-color: #999;
  width: 20%;
  display: inline-block;
  margin: 1%;
  border-radius: 5px;
}
.list-sub-header {
  position: relative;
  background-color: #999;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.list-sub-header h1 {
  display: inline-block;
  font-size: 1.2em;
  color: black;
  width: 50%;
  padding-left: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.list-name-edit {
  display: inline-block;
  font-size: 1.2em;
  color: black;
  width: 50%;
  padding-left: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.card a:link, .card a:visited, .card a:hover, .card a:active {
  color: black;
  text-decoration: none;
}




/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Card Styling */
.cards {
  margin: 0 auto;
}
.card {
  margin: 0 auto;
  vertical-align: top;
  background-color: #666;
  width: 90%;
  display: block;
  border-radius: 5px;
}
.card-sub-header {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}
.card-sub-header p {
  display: inline-block;
  font-size: 1em;
  color: black;
  width: 80%;
  padding-left: 5px;
  margin-top: 10px;
}




/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Menu Styling */
.menu {
  position: relative;
  display: inline-block;
  background-color: inherit;
  float: right;
  text-align: right;
  font-size: 1.5em;
  color: white;
  width: 5%;
  padding-right: 20px;
  margin-top: 5px;
}
.menu-icon {
  font-weight: bold;
  cursor: pointer;
}
.menu-content {
  position: absolute;
  right: 0;
  background-color: inherit;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.list-sub-header .menu-content, .card-sub-header .menu-content {
  left: 0;
}
.menu li {
  list-style: none;
}
.menu-item {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-top: 15px;
  padding-right: 15px;
  text-decoration: none;
  cursor: pointer;
}









/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

/* Modal Title */
.modal-title {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
  text-align: center;
  color: white;
  padding: 0 0 20px 0;
  height: 20px;
}

.modal label {
  color: white;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Add Animation - Zoom in the Modal */
.modal-title {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}







/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/* Devise Styling */
.devise {
  text-align: center;
  font-size: 1.5em;
  margin-top: 100px;
}
.devise-button {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.5em;
  padding: 10px 10px;
}
